body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
}
header{
  background-color: hsl(0, 0%, 15%);
  color: hsl(120, 93%, 60%);
  font-size: 1.5em;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex; /* Arrange tables side-by-side */
  flex-direction: row;
  justify-content: space-between; /* Remove for this method */
  width: 45%; /* Set individual table width (adjust for desired layout) */
  margin: 0 auto; /* Center the container horizontally */
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse; /* Remove borders between cells */
  width: 100%; /* Tables will fill the container width */
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

/* Updated styles for thead */
th {
  background-color: #2e8b57; /* Green background */
  font-weight: bold;
  color: #fff; /* White text */
}

.rank {
  color: #2e8b57; /* Dark green */
}
